examples/basic-paging-example.json
[
    {
        "id": "96d34608.630cb8",
        "type": "tab",
        "label": "MAR Basic Paging Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "26265580.ec7d4a",
        "type": "inject",
        "z": "96d34608.630cb8",
        "name": "Set host to find",
        "topic": "",
        "payload": "127.0.0.1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "4c584414.d0851c"
            ]
        ]
    },
    {
        "id": "f857b0cb.3989d",
        "type": "switch",
        "z": "96d34608.630cb8",
        "name": "More results available?",
        "property": "hasMoreItems",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "caac115.e3e13f"
            ],
            [
                "335ea6c8.7f782a"
            ]
        ]
    },
    {
        "id": "335ea6c8.7f782a",
        "type": "debug",
        "z": "96d34608.630cb8",
        "name": "Output process names",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "processes",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "b4ccc90b.11d7a8",
        "type": "function",
        "z": "96d34608.630cb8",
        "name": "Extract process names",
        "func": "if (!msg.processes) {\n    msg.processes = []\n}\n\nmsg.processes.push(\n    msg.payload.map(function (processEntry) {\n        return processEntry.output[\"Processes|name\"]\n    })\n)\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 60,
        "wires": [
            [
                "f857b0cb.3989d"
            ]
        ]
    },
    {
        "id": "caac115.e3e13f",
        "type": "dxl-mar-search",
        "z": "96d34608.630cb8",
        "name": "Search MAR for host",
        "pollInterval": 5,
        "client": "",
        "projections": "[\n    {\n        \"name\": \"Processes\"\n    }\n]",
        "limit": "5",
        "textFilter": "",
        "sortBy": "Processes|name",
        "sortDirection": "asc",
        "returnType": "obj",
        "x": 560,
        "y": 60,
        "wires": [
            [
                "b4ccc90b.11d7a8"
            ]
        ]
    },
    {
        "id": "4c584414.d0851c",
        "type": "template",
        "z": "96d34608.630cb8",
        "name": "Set search conditions",
        "field": "conditions",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"or\": [{\n        \"and\": [{\n            \"name\": \"HostInfo\",\n            \"output\": \"ip_address\",\n            \"op\": \"EQUALS\",\n            \"value\": \"{{payload}}\"\n        }]\n    }]\n}",
        "output": "json",
        "x": 320,
        "y": 40,
        "wires": [
            [
                "caac115.e3e13f"
            ]
        ]
    }
]
