examples/basic-search-example.json
[
    {
        "id": "ee0ea636.a6a4c8",
        "type": "tab",
        "label": "MAR Basic Search Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd0c70b7.aaadb",
        "type": "dxl-mar-search",
        "z": "ee0ea636.a6a4c8",
        "name": "Search MAR for hosts",
        "pollInterval": 5,
        "client": "",
        "returnType": "obj",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "c1b54574.515d18"
            ]
        ]
    },
    {
        "id": "bbc5481.ea420b8",
        "type": "inject",
        "z": "ee0ea636.a6a4c8",
        "name": "Specify search projections",
        "topic": "",
        "payload": "[{\"name\":\"HostInfo\",\"outputs\":[\"ip_address\"]}]",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 40,
        "wires": [
            [
                "f4b6b364.65f03"
            ]
        ]
    },
    {
        "id": "8da16f80.4e2ce",
        "type": "debug",
        "z": "ee0ea636.a6a4c8",
        "name": "Output host names",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 590,
        "y": 320,
        "wires": []
    },
    {
        "id": "c1b54574.515d18",
        "type": "function",
        "z": "ee0ea636.a6a4c8",
        "name": "Extract host names",
        "func": "msg.payload = \n    msg.payload.map(function (processEntry) {\n        return processEntry.output[\"HostInfo|ip_address\"]\n    })\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 320,
        "wires": [
            [
                "8da16f80.4e2ce"
            ]
        ]
    },
    {
        "id": "f4b6b364.65f03",
        "type": "change",
        "z": "ee0ea636.a6a4c8",
        "name": "Set projection request parameter",
        "rules": [
            {
                "t": "set",
                "p": "projections",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 120,
        "wires": [
            [
                "bd0c70b7.aaadb"
            ]
        ]
    }
]
